.container.contact__container{
  width : 50%;
  display: grid;
  grid-template-columns: 30% 60%;
  gap:10%;

}

h1{
  text-align: center;
  margin-bottom: 2rem;
}

.contact__options{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}


.contact__option{
  background: var(--color-bg-variant);
  padding: .8rem ;
  border-radius: 1.2rem;
  text-align: center;
  border :1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover{
  border :1px solid var(--color-white);
  background: transparent;
  border-color: var(--color-white);

}

.contact__option-icon{
  font-size: 1.5rem;
  margin-bottom: .1rem;
}

.contact__option a{
  margin-top: .7rem;
  display:inline-block;
  font-size: .7rem;
}

.contact__option a:hover{
  text-decoration: underline;
  color:white;
  font-size: 1rem;
  transition: var(--transition);
}

.btn:hover{
  background: transparent !important;
  border-color: var(--color-white) !important;
  color:var(--color-white) !important;
  transition: var(--transition)!important;
  font-size: 1rem !important;
  font-weight: bold !important;
  
}

form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,textarea {
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  background: transparent;
  border: 2px solid var(--color-white);
  resize: none;
  color: var(--color-white);
}


/* ==================Media Query (Medium Tablates)================ */

@media screen and (max-width: 1024px) {
  .container.contact__container{
    grid-template-columns: 1fr;
    gap:2rem;

  }
}


/* ==================Media Query (Small Mobile)================ */

@media screen and (max-width: 600px) {
  .container.contact__container{
    width: var(--container-width-sm);
  }
}




