.container.testimonials__container{
  width: 26%;
  
 
}

.client__avatar{
  width:6rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.2rem solid var(--color-primary);
}

.testimonial{
  background: #2e5d3858;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
  margin-top: 1rem;
}


.client_review{
  color: var(--color-primary);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;

}

.testimonial__title{
  text-align: center;
  margin-bottom:1rem;
  
}

/* ==================Media Query (Medium Tablates)================ */

@media screen and (max-width: 1024px) {
  .container.testimonials__container{
    width: 50%;
  }
}


/* ==================Media Query (Small Mobile)================ */

@media screen and (max-width: 600px) {
  .container.testimonials__container{
    width:var(--container-width-sm);
  }

  .client__review{
    width: var(--container-width-sm);
  }

}